﻿/*
 * Copyright (C) 2018 Reneil All Rights Reserved.
 *
 * システム名：Reiss/Smiss
 *
 * 履歴：
 *   NO	日付            バージョン      更新者          内容
 *    1	2018/02/14      1.0.0           斎川            新規作成
 */

.login {
	width: 500px;
	padding: 20px;
}
