﻿/*
 * Copyright (C) 2018 Reneil All Rights Reserved.
 *
 * システム名：Reiss/Smiss
 *
 * 履歴：
 *   NO	日付            バージョン      更新者          内容
 *    1	2018/02/14      1.0.0           斎川            新規作成
 *    2 2021/05/29      1.0.1           斎川            Janusのアラートが下に来てしまうため削除
 */

/* 地図表示 フルスクリーンボタン */
#enterFullscreenButton {
    background-image: url(images/enterFullscreen.png);
}

/* 地図表示 フルスクリーン解除ボタン */
#exitFullscreenButton {
    background-image: url(images/exitFullscreen.png);
}

/* パンくずリスト表示領域 */
#topic-path {
	padding : 5px 15px 10px;
	font-size: 130%;
    word-break: keep-all; /* 単語改行 */
    visibility: hidden;  /* 初期非表示 */
    text-decoration: none;
}
#topic-path>a:hover {
    text-decoration: none;
}

/* map表示サイズ */
#map {
  width: 99.7%;
  height: 100%;
}

/* アイコン表示contents-area */
#contents-area {
  padding: 0 0 50px;
}

/* アイコン表示contents-grid */
.contents-grid {
  padding-right: 5.5px;
  padding-left: 5.5px;
}

/* アイコン表示thumbnail */
.thumbnail {
  margin-bottom: 0;
  border: 0;
}

/* アイコン表示 ファイル名表示 */
.file-name {
  display: none;
}

/* アイコン表示 撮影情報表示 */
.photo-info {
  display: none;
}

/* アイコン表示 撮影情報タグサイズ */
.info-tag {
  width: 42px;
}

/* 詳細dataTable */
#dataTable_wrapper {
  padding: 0 5px 60px;
}

/* 付帯情報map表示高さ */
#additionalInfoMap {
  height: 300px;
}

/* 現在表示中ライブラリ */
#current-library {
  width: 1px; /* ダミー */
  min-width: 100%;
  padding : 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 95%;
}

/* column崩れ対策 */
.flex {
    display: flex;
    flex-wrap: wrap;
    word-break: break-all; /* テキスト改行 */
}

/* トップエリア */
.top-area {
	position:fixed;
	z-index:11;
}

/* トップメニュー */
.top-menu {
	z-index:13;
	padding : 5px 0px 5px 8px;
	font-size: 150%;
	background-color: #FCFCFC;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	opacity: 1;
	margin-left: -5px;
}

/* ボトムエリア */
.bottom-area {
	position:fixed;
	z-index:11;
	bottom: 0px;
}

/* ボトムメニュー */
.bottom-menu {
	z-index:13;
	padding : 0px 0px 0px 3px;
	font-size: 150%;
	background-color: #FCFCFC;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	opacity: 1;
	margin-left: -5px;
}

/* ボトムメニューリスト */
.bottom-menu-ul {
	min-width: 287.5px;
}
.bottom-menu-ch {
	min-width: 57.5px;
}

/* メニューリスト */
.menu-li {
	width: 19.4%;
}
.menu-li-ch {
	width: 99%;
}
.nav>li.disabled>a {
    color: #CCC;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #FCFCFC;
}
.nav>li.disabled>a:focus, .nav>li.disabled>a:hover {
    color: #CCC;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #FCFCFC;
    border-color: #FCFCFC;
}

/* トップメニューリンク */
.top-menu-a {
	text-align: center;
	width: 45px;
	padding: 8px 0px 4px 0px !important;
	cursor: pointer;
	color: #333;
}

/* ボトムメニューリンク */
.bottom-menu-a {
	text-align: center;
	width: 100%;
	padding: 10px 0px !important;
	color: #333;
}

/* リンクフォーカス */
a {
    color: #333;
}
a:focus {
    color: #333;
}
a:hover {
    color: #0A7AFF;
}

/* メニューアイコン */
.menu-icon {
	line-height: 0px;
	top: 7px;
}

/* メニュー文字 */
.menu-char {
	font-size: 15px;
	line-height: 16px;
}

/* コンテンツ */
#contents {
	padding: 65px 0 0 0px;
}

/* ライブエリア */
#live-area {
	z-index: 12;
	padding: 20px 20px;
}

/* モーダルライブ中継 コントロールバー非表示*/
#liveViewModal video::-webkit-media-controls-panel {
	display: none;
}

@media (max-width: 550px) {
/* アイコン表示contents-grid */
 .contents-grid {
   padding-right: 0px;
   padding-left: 0px;
 }
/* アイコン表示 撮影情報タグサイズ */
 .info-tag {
   display: none !important;
 }
}
@media (max-width: 992px) {
/* パンくずリスト表示領域 */
 #topic-path {
 	padding : 0px 15px 10px;
	font-size: 120%;
 }
/* map表示サイズ */
 #map {
	width: 100%;
 }
/* 詳細dataTable */
 #dataTable_wrapper {
	padding: 0 2px 60px;
 }
/* トップメニュー */
 .top-menu {
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
 }
/* ボトムメニュー */
 .bottom-menu {
	box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.1);
 }
/* メニュー文字 */
 .menu-char {
 	font-size: 9px;
 	line-height: 14px;
 }
 /* ライブエリア */
 #live-area {
	z-index: 9;
	padding: 20px 20px 50px;
 }
}

/* 画像枠（アニメーション無） */
/*#contents a.img-over img {border:2px solid white}
#contents a.img-over:hover img {border:2px solid #A9BFDF}*/

/* 画像枠（アニメーション有） */
#contents a.img-over {
  position: relative;
  overflow: hidden;
  float: left;
}
#contents a.img-over img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
#contents a.img-over:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transition: 0.2s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contents a.img-over:hover:after {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border: 2px solid #A9BFDF;
}

/* スマホ モーダル表示時スクロールが一番上に戻る対策 */
.modal-open {
 overflow: visible!important;
 position: static!important;
}

/* モーダル 背景z-index修正 */
.modal-backdrop {
  /* No.2 Janusのアラートが下に来てしまうため削除
  z-index: 2099;*/
}

/* コンテンツ情報表示 */
.features h3{
  margin: 0 0 30px;
}
.features h3 span{
  border-radius: 5px;
  padding: 5px 20px 7px;
  margin: 0 0 30px;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #ddd;
}
h3{
  text-align: center;
  line-height: 1.5em;
  position: relative;
  margin: 40px 0 10px 0;
}
h3::before{
  content: '';
  left: 0;
  right: 0;
  height: 1px;
  background: #dbdcdb;
  position: absolute;
  top: 50%;
  z-index: 0;
}
h3 span{
  background: white;
  position: relative;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Lato';
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

/* Libraryボタン */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 26px;
  top: 0px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger::after {
  position: absolute;
  left: 0;
  bottom: -16px;
  content: 'Library';
  display: block;
  width: 100%;
  color: #333;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: all .4s;
}
.menu-trigger.active::after {
  bottom: -18px;
}
.menu-trigger span:nth-of-type(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(-315deg) scale(.8);
  transform: translateY(11px) rotate(-315deg) scale(.8);
}
.menu-trigger.active span:nth-of-type(2) {
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: 3px solid #333;
  border-radius: 50%;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(315deg) scale(.8);
  transform: translateY(-11px) rotate(315deg) scale(.8);
}

